<div class="d-flex justify-content-around" style="gap:32px;">
    <div class="h-100 w-50 p-5 text-bg-dark rounded-3 border">
        <h1>Menu & Items</h1>
        <p>See and manage the menu. You will find data on which is the most popular menu item</p>
        <a class="btn btn-outline-primary" href="/panel/admin/menu">Go to Menu & Items</a>
    </div>
    <div class="h-100 w-50 p-5 text-bg-dark rounded-3 border">
        <h1>Orders & Profit</h1>
        <p>Here you can see data on the profit each day and month, and you can look at individual orders at times</p>
        <a class="btn btn-outline-primary" href="/panel/admin/months">Go to Orders & Profit</a>
    </div>
</div>