<configuration>
  <system.webServer>
    <handlers>
      <!-- Point to the actual entry script of your Node.js application -->
      <add name="iisnode" path="bin/www" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <!-- Make sure the rewrite action points to the correct entry script -->
          <action type="Rewrite" url="bin/www"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
