<script src="/javascripts/kitchen.js"></script>
<pre id="fish-area" style="line-height: 15px;">
</pre>
<br>
<button class="btn btn-sm btn-outline-success" id="fish-feeder">Click to feed the fish</button>