<script src="/javascripts/login.js"></script>
<div class="d-flex justify-content-center">
    <div class="modal-dialog w-50">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Staff login</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="loginUsernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="loginUsernameInput" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="loginPasswordInput" class="form-label">Username</label>
                    <input type="password" class="form-control" id="loginPasswordInput" placeholder="Password">
                </div>
                <div class="mb-3 alert alert-danger" id="loginErrorBox" style="display: none"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="loginSubmitBtn">Login</button>
            </div>
        </div>
    </div>
</div>