<script src="/javascripts/reservation.js"></script>
<div class="container my-5">
    <div class="p-5 bg-body-tertiary rounded-4">
        <h1 class="text-body-emphasis">Make reservation</h1>
        <div>
            <div class="mb-3">
                <label>Name</label>
                <input type="text" placeholder="John Doe" id="nameInput" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Phone</label>
                <input type="number" placeholder="12345678" id="phoneInput" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Guests</label>
                <input type="number" placeholder="1" id="guestsInput" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Time</label>
                <input type="datetime-local" id="timeInput" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
        </div>
    </div>
</div>