body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 10px;
}

footer {
  padding: 20px;
}

main {
  padding: 20px;
}

.card.done .badge {
  background-color: #5cb85c;
}

.card.inprogress .badge {
  background-color: #f0ad4e;
}

.card.ordered .badge {
    background-color: #d9534f;
}